tf/.terraform/plugins/registry.terraform.io/hashicorp/external/2.0.0/linux_amd64/terraform-provider-external_v2.0.0_x5
tf/.terraform/plugins/registry.terraform.io/hashicorp/google/3.49.0/linux_amd64/terraform-provider-google_v3.49.0_x5
tf/.terraform/plugins/selections.json 
tf/.terraform/terraform.tfstate
